<%- include('partials/header') %>
<div class="page-content">
    <h1>Nossos Serviços</h1>
    <ul>
        <li>Consultas presenciais e online</li>
        <li>Acompanhamento ginecológico completo</li>
        <li>Telemedicina com especialistas</li>
    </ul>
</div>
<%- include('partials/footer') %>
